<!DOCTYPE html>
<html>
  
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Projeto Laboratório II</title>
    </head>

	<body>
        
      <style type="text/css">

    body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("images/fundo_prefedefinido.jpg");

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

      
      .firstTitle {
        color:blueviolet;
      }



      .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
        
      </style>

      <div class="bg">

      <div class="firstTitle">
        <h1>Weatherito</h1>
      </div>

      <div class="secondTitle">
        <h2>What do you want to know?</h2>
        <h5>Choose whatever you want!</h5>
      </div>


<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Escolher</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#temperatura">Temperatura</a>
    <a href="#temperatura_aparente">Temperatura Aparente</a>
    <a href="#humidade">Humidade</a>
    <a href="#raios_uv">Raios UV</a>
    <a href="#precipitacao">Precipitação</a>
    <a href="#ventos">Ventos</a>
  </div>
</div>

   <form action="/weather">
        <input type="text" name="local"/>
        <button type="submit">Send!</button>
      </form>

  <p>{{horas}}</p>
	<p>{{temperatura}}</p>
  <p>{{temperatura_aparente}}</p>
  <p>{{humidade}}</p>
  <p>{{indice_uvs}}</p>
  <p>{{precipitacao}}</p>
  <p>{{ventos}}</p>
  
</div>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

    </body>

</html>