<!DOCTYPE html>
<html>
  
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>This is my template!</title>
    </head>

	<body>
        
      <style type="text/css">
      
      .firstTitle {
        color:blueviolet;
      }
        
      </style>

      <div class="firstTitle">
        <h1>Weatherito</h1>
      </div>

      <div class="secondTitle">
        <h2>What do you want to know?</h2>
        <h5>Choose whatever you want!</h5>
      </div>

      <form action="/weather">
        <input type="text" name="local"/>
        <button type="submit">Send!</button>
      </form>

  <p>{{horas}}</p>
	<p>{{temperatura}}</p>
  <p>{{temperatura_aparente}}</p>
  <p>{{humidade}}</p>
  <p>{{indice_uvs}}</p>
  <p>{{precipitacao}}</p>

    </body>

</html>